* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;

}

body {
        background: lightgray;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container{
        width: 98%;
        margin: 0 auto;
        border: 1px solid black;
        max-width: 1400px;
}

header{
        background: red;
        height: 100px;
        width: 100%;
        margin: 0;
        text-align: center;
        line-height: 100px;
        color: white;
        border-bottom: dashed black;

}
nav {
        background: lightblue;
        height: 50px;
        line-height: 30px;
        border-bottom: 1px  solid black;

}
nav ul li{
        float: left;
list-style: none;
margin: 10px;


}
.clearfix {
        clear: both;
}
#content {
        float: left;
        width: 80% ;
        min-height: 500px;
        background: green;
        padding: 40px;
        box-sizing: border-box;

}
.article {
        color: rgb(243, 245, 241);
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;


}
.article:first-child{
        padding-top: 10px;
        border-top: 1px solid #eee;
}

.article h2 {
font-size: 25px;
}
aside{
        float: left;
        width:20% ;
        background: orange;
        min-height: 560px;
        padding-left: 10px;
        padding-right: 10px; 
        padding-top: 20px ;
        box-sizing: border-box;
}
footer {
        background: black;
        color: white;
        text-align: center;
        height: 50px;
        line-height: 50px;
}

@media screen and (max-width: 800px) {

        body {
                background: chartreuse;
        }
#content {
        width: 100%;
}
aside {
        width: 100%;
}


}
@media screen and (max-width: 400px) {

        body {
                background: rgb(47, 0, 255);
        }
        #content{
               width: 100%; 
        } 
}
