/* Hago los reset de todos los componentes */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("font-awesome.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------- Reset terminado ------- */
html {
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100%;
}

header {
  width: 100%;
}

.banner {
  position: relative;
  height: 15em;
  background: url(../assest/17545.jpg) #fdfdfd;
}

.banner img {
  width: 1300px;
  height: 230px;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1d8a1a;
  line-height: 60px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

nav ul li {
  margin: 0 .75rem;
}

nav ul a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav ul a:hover {
  color: #04f018;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px 20px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.main_left {
  width: 50%;
  padding: 20px 20px 20px 20px;
}

section.main_left h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px 20px 20px;
  font-weight: bold;
  font-size: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.main_left p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 25px 25px 25px;
  text-align: justify;
}

section.main_left .llegar_box_texto h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px 20px 20px;
  font-weight: bold;
  font-size: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.main_right {
  width: 45%;
  padding: 25px 25px 25px 25px;
  border-style: solid;
}

section.main_right h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px 20px 80px 20px;
  font-weight: bold;
  font-size: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.main_right form {
  display: inline-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 130px 40px 130px 40px;
  background: rgba(19, 114, 50, 0.993);
  -webkit-box-shadow: 0 4px 8px 0 #03f623;
          box-shadow: 0 4px 8px 0 #03f623;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section.main_right form input {
  display: block;
  width: 100%;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 30px;
  padding: 12px 20px;
  margin: 20px 0;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

section.main_right form input:focus {
  border: 1px dashed black;
}

section.main_right form button[type="submit"] {
  display: block;
  margin: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 60px;
  width: 100%;
  background: #0e803d;
  color: white;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

section.main_right form button[type="submit"]:focus {
  border: 1px dashed black;
  cursor: pointer;
}

section.main_right form button[type="submit"]:hover {
  background: #07ff30;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.clearfloat {
  clear: both;
}

.orador_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 40px 0;
}

.orador_box_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

.orador_box_image img {
  border: 2px #fffefe solid;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.orador_box_detail {
  display: flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
  width: 50%;
}

.orador_box_detail h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.orador_box_detail h4 {
  font-family: 'Roboto', sans-serif;
}

.orador_box_detail_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  line-height: 40px;
}

.orador_box_detail_social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.orador_box_detail_social ul li {
  margin: 0;
}

.orador_box_detail_social ul li .icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
  color: black;
}

.orador_box_detail_social ul li .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  font-size: 1.2em;
}

.orador_box_detail_social ul li .icon:hover {
  color: #f19012;
}

.orador_box_detail_social ul li .icon > .label {
  display: none;
}

.llegar_box_mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 2px solid #fffefe;
}

.sponsor_box_tipos {
  display: flexbox;
  position: relative;
  padding: 0px 20px 20px 20px;
}

.sponsor_box_tipos h3 {
  font-weight: bold;
  line-height: 40px;
}

.sponsor_box_sponsor {
  padding-top: 10px;
}

.sponsor_box_logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sponsor_box_logos img {
  width: 140px;
  height: 44px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #3be66e;
  color: #f8f8f8;
  height: 60px;
  width: 100%;
  left: 0;
  bottom: 0;
}
/*# sourceMappingURL=hector.css.map */