.body {
	background:#F5EE31;
	width: 300px;
	height:400px;
	border:5px solid #000;
	position: relative;
	margin:50px auto;
	overflow:hidden;
}

.ojos {
	position: absolute;
	left:40px;
	top:40px;
	width:210px;
	z-index:10;
}
 
.ojo {
	background:#fff;
	position: relative;
	border:5px solid #000;
	width:100px;
	height:100px;
	margin-right:-17px;
	border-radius:50%;
	display: inline-block;
}
 
.ojo_externo {
	width: 50px;
	height:50px;
	border-radius:50%;
	position:absolute;
	top:20px;
	left:25px;
	background:#00AEEF;
	border:3px solid #000;
}
 
.ojo_interno {
	width:30px;
	height:30px;
	background:#000;
	border-radius:50%;
	position:relative;
	top:10px;
	left:10px;
}
 
.pestanas {
	position:relative;
	bottom:24px;
	left:12px;
}
 
.pestana {
	width:15px;
	height:5px;
	background:rgb(13, 14, 13);
	transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	margin-right:10px;
	display:inline-block;
}
 
.pestana.primera {
	position:relative;
	top:10px;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
 
.pestana.tercera {
	position:relative;
	top:10px;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.nariz {
	width:20px;
	height:40px;
	background:#F5EE31;
	position: absolute;
	top:110px;
	left:130px;
	border:5px solid #000;
	border-bottom:5px solid transparent;
	border-radius:42.5%;
	z-index:10;
}

.boca {
	width:200px;
	height:80px;
	background:transparent;
	position:absolute;
	top:128px;
	left:50px;
	border-radius:50%;
	border-bottom:5px solid #000;
	z-index:10;
}
.dientes {
	position:relative;
	top:63px;
	left:65px;
 
}
.diente {
	width:20px;
	height:20px;
	background:rgb(255, 255, 255);
	border:5px solid #000;
	display: inline-block;
}
 
.mejilla {
	width:30px;
	height:20px;
	background:transparent;
	position:absolute;
	top:30px;
	border:3px solid #F1592A;
	border-bottom:5px transparent;
	border-radius:50% 50% 20% 20%;
}
.mejilla.primera {
	left:-15px;
}
.peca.primera {
    position: relative;
    background: #F00200; 
    top: 36px;
    left: 7px;
    width: 3px;
    height: 3px;
    
}
.peca.segunda {
    position: relative;
    background: #F00200; 
    top: 38px;
    left: 1px;
    width: 3px;
    height: 3px;
    
}
.peca.tercera {
    position: relative;
    background: #f82e0b; 
    top: 31px;
    left: -7px;
    width: 3px;
    height: 3px;
    
}

.mejilla.segunda {
	left:179px;
}
.peca.cuarta {
    position: relative;
    background: #F00200; 
    top: 30px;
    left: 187px;
    width: 3px;
    height: 3px;
    
}
.peca.quinta {
    position: relative;
    background: #F00200; 
    top: 26px;
    left: 204px;
    width: 3px;
    height: 3px;
    
}
.peca.sexta {
    position: relative;
    background: #f82e0b; 
    top: 28px;
    left: 197px;
    width: 3px;
    height: 3px;
    
}
.camisa {
	width:100%;
	height:50px;
	background:#fff;
	position: absolute;
	bottom:50px;
	border-top:5px solid #000;
	z-index:10;
	overflow:hidden;
}
 
.cuello {
	width:50px;
	height:30px;
	position: absolute;
	background:#fff;
	top:-25px;
	border:5px solid #000;
	transform: rotate(30deg);
}
 
.cuello.primero {
	left:60px;
}
 
.cuello.segundo {
	left:180px;
	transform: rotate(-30deg);
}
 

.cuello_corbata {
	width:40px;
	height:40px;
	background:#F00200;
	border:5px solid #000;
	position:absolute;
	left:130px;
	bottom:30px;
	z-index:50;
	transform: rotate(45deg);
}

.cola_corbata {
	width:55px;
	height:55px;
	background:#F00200;
	border:5px solid #000;
	position:absolute;
	left:123px;
	bottom:0px;
	z-index:50;
	transform: rotate(45deg);
}

.pantalones {
	width:100%;
	height:50px;
	background:#6A3D13;
	position: absolute;
	bottom:0%;
	border-top:5px solid #000; 
	z-index:10;
}
 
.cinturon {
	width:40px;
	height:15px;
	position:absolute;
	top:20px;
	background:#000;
}
 
.cinturon.primero {
	left:20px;
}
 
.cinturon.segundo {
	left:90px;
}
 
.cinturon.tercero {
	right:80px;
}
 
.cinturon.cuarto {
	right:20px;
}

.poro {
	background:#C0A402;
	height:40px;
	width:40px;
	position:absolute;
	border-radius:50%;
	z-index:1;
}
 
.poro.primero {
	top:230px;
	left:20px;
	height:40px;
	width:40px;
}
 
.poro.segundo {
	top:200px;
	left:240px;
}

.poro.tercero {
	top:50px;
	height:15px;
    width:15px;
    left:260px;
}
 
.poro.cuarto {
	top:190px;
	height:20px;
	width:20px;
	left:25px;
}
 
.poro.quinto {
	top:250px;
    left:265px;
    height:20px;
	width:20px;
}
 
.poro.sexto {
	top:10px;
	left:8px;
	height:35px;
	width:35px;
}
 
.poro.septimo {
	top:60px;
	left:15px;
	height:20px;
	width:20px;
}
 /*
.poro.octavo {
	top:;
	left:;
}*/